<div id="ctl00_ctl00_cphMain_cphMainContent_pnlDashboard">

    <table width="100%">
        <tbody>
            <tr>
                <td width="90%">
                    <div id="ctl00_ctl00_cphMain_cphMainContent_uiProspectSearchPnl" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_ctl00_cphMain_cphMainContent_btnSearch')">

                        <input type="hidden" name="ctl00$ctl00$cphMain$cphMainContent$hiddenProspectID" id="ctl00_ctl00_cphMain_cphMainContent_hiddenProspectID">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <h3>Get Account</h3>
                                    </td>
                                    <td>
                                        <input name="ctl00$ctl00$cphMain$cphMainContent$txtSearch" type="text" id="ctl00_ctl00_cphMain_cphMainContent_txtSearch">
                                    </td>
                                    <td>
                                        <a id="ctl00_ctl00_cphMain_cphMainContent_lbSearch" class="small-blue-link" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ctl00$cphMain$cphMainContent$lbSearch", "", true, "", "", false, true))'>Search |</a>
                                        <a id="ctl00_ctl00_cphMain_cphMainContent_lbClear" class="small-blue-link" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ctl00$cphMain$cphMainContent$lbClear", "", true, "", "", false, true))'>Clear |</a>
                                        <a id="ctl00_ctl00_cphMain_cphMainContent_lnkAddNew" class="small-blue-link" href='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$ctl00$cphMain$cphMainContent$lnkAddNew", "", true, "", "", false, true))'>Add New</a>
                                        <div style="display: none">
                                            <input type="submit" name="ctl00$ctl00$cphMain$cphMainContent$btnSearch" value="" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$ctl00$cphMain$cphMainContent$btnSearch&quot;, &quot;&quot;, true, &quot;&quot;, &quot;&quot;, false, false))" id="ctl00_ctl00_cphMain_cphMainContent_btnSearch" class="button_hidden" style="background-color:White;border-width:0px;" onkeypress="return stopEnter()">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </td>
                <td width="10%">
                    <div id="ctl00_ctl00_cphMain_cphMainContent_uiUpdatePanel2">

                        <div class="dashboardUtilityLinks">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>

                                            <div>
                                                <table cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td></td>
                                                            <td valign="top" style="padding-left: 2px">

                                                                <a id="ctl00_ctl00_cphMain_cphMainContent_uiCalendarMonthCal_uiOpenCalendarImg" title="Calendar" href="javascript:__doPostBack('ctl00$ctl00$cphMain$cphMainContent$uiCalendarMonthCal$uiOpenCalendarImg','')"><img id="ctl00_ctl00_cphMain_cphMainContent_uiCalendarMonthCal_imgCalender" src="../UIObjects/Graphics/icon-calendar.png" align="absmiddle" style="border-width:0px;"></a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center">
                                                                <input type="hidden" name="ctl00$ctl00$cphMain$cphMainContent$uiCalendarMonthCal$meeDate_ClientState" id="ctl00_ctl00_cphMain_cphMainContent_uiCalendarMonthCal_meeDate_ClientState">
                                                                <span id="ctl00_ctl00_cphMain_cphMainContent_uiCalendarMonthCal_mevDate" style="color:Red;display:none;"></span>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div>



                                            </div>

                                        </td>
                                        <td class="pad10-left">
                                            <a onclick="javascript:void(PopupPaycheckCalculator('budget')); return false;" id="ctl00_ctl00_cphMain_cphMainContent_uiCalculatorLnk" href="javascript:__doPostBack('ctl00$ctl00$cphMain$cphMainContent$uiCalculatorLnk','')"><img id="ctl00_ctl00_cphMain_cphMainContent_uiCalculatorImg" src="../UIObjects/Graphics/icon-calculator.gif" style="border-width:0px;"></a>
                                        </td>
                                        <td class="pad10-left">
                                            <a id="ctl00_ctl00_cphMain_cphMainContent_uiLabelOpsLnk" href="javascript:__doPostBack('ctl00$ctl00$cphMain$cphMainContent$uiLabelOpsLnk','')"><img id="ctl00_ctl00_cphMain_cphMainContent_uiLabelOpsImg" title="Print Label To Ops Printer" src="../UIObjects/Graphics/icon-createLabel-ops.png" alt="Print Label" style="border-width:0px;"></a>
                                        </td>
                                        <td class="pad10-left">
                                            <a id="ctl00_ctl00_cphMain_cphMainContent_uiLabelConsLnk" href="javascript:__doPostBack('ctl00$ctl00$cphMain$cphMainContent$uiLabelConsLnk','')"><img id="ctl00_ctl00_cphMain_cphMainContent_uiLabelConsImg" title="Print Label To Consulting Printer" src="../UIObjects/Graphics/icon-createLabel-consult.png" alt="Print Label" style="border-width:0px;"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br>





</div>