#footer {
    width: 100%;
    background-color: #0092CF;
    position: fixed;
    clear: both;
    bottom: 0px;
    padding: 5px 10px 5px 10px;
    margin-bottom: 0px;
    font-size: 11px;
    color: #fff;
    z-index: 100;
}

#footer a {
    color: white;
}