<!--<div class="secondaryNavMenu collapse navbar-collapse" id="ctl00_ctl00_cphMain_menuSecondary" style="float: left;">
    <ul class="level1 static nav navbar-nav" tabindex="0" role="menubar" style="position: relative; width: auto; float: left;">
        <li *ngFor="#nav2 of secondaryNavs; #i = index; #isFirst2 = first;" [routerLink]="nav2.router" (click)="selectedStatus[i]=!selectedStatus[i];" role="menuitem" [class.open]="isFirst2" [class.dropdown]="nav2.children != null && nav2.children.length > 0" class="static" style="position: relative; float: left;">
            <a class="level1 static" data-toggle="dropdown" [class.dropdown-toggle]="nav2.children != null && nav2.children.length > 0" role="button" aria-haspopup="true" aria-expanded="false">{{ nav2.name }}</a>
            <ul *ngIf="nav2.children != null && nav2.children.length > 0 && selectedStatus[i]" class="dropdown-menu">
                <li *ngFor="#child of nav2.children" [routerLink]="child.router">
                    <a>{{ child.name }}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>-->
<h1>Nicole</h1>